<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <base href="/">
            
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            
    </head>
    <body>
        
            <div class="text-center">
                    <h1>Manage Events</h1>
                </div>
                <div class="container">
                    <div class="col-md-9">
                
                    </div>
                    <div class="col-md-3">
                        <a href="" class="btn btn-primary">Create Event</a>
                    </div>
                </div>
                <hr>
                <br>
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Event Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Manage</th>
                            </tr>
                        </thead>
                        <tbody>  
                            <tr>
                                <td>Test Name of Event</td>
                                <td>Music</td>
                                <td>January 25, 2019</td>
                                <td>Active</td>
                                <td><a style="margin-right:3%;" href="" class="btn btn-success">Edit</a><a href="" class="btn btn-danger">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>

                    
                </div>
    </body>
</html>